@import "./assets/variables.scss";

html {
  font-family: "Roboto", sans-serif;
  color: $text-color;
  background-color: $tertiary-color;
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}
